#container {
  text-align: center;
  padding-top: 10%;
}

.text {
  font-family: sans-serif;
  color: #2366d1;
}

button {
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px #aaaaaa;
}

button:hover {
  background-color: #68ffc5;
}
